
<section class="fullscreen">
  <h1 class="tittle"> Welcome to FEIT Buffet </h1>
</section>

<section class="menu-section">
  <img src="../assets/img/hot-peper.jpg" class="side-img">
  <div class="side-content">
    <h2>Our Menu</h2>
    <p>Pizza, fresh pasta and classic Italian recipes made with great local ingredients. Wines that love food. Buon appetito!</p>
    <h3 (click)="onClick('pizza')"> Pizza </h3>
    <h3 (click)="onClick('sandwich')"> Sandwich </h3>
    <h3 (click)="onClick('drink')"> Drinks </h3>
    <h3 (click)="onClick('dessert')"> Dessert </h3>
    <button (click)="onClick('menu')" mat-button class="transparent-button">View More</button>
  </div>
</section>

<section class="ingredients-section">
  <div>
  <h2>The finest ingredients of Italian tradition with innovative recipes of memorable pizza</h2>
</div><div>
  <p>With its three rooms, FEIT is the right place both for your lunch break or for a dinner with friends. Our cozy dining \n room is the perfect venue for private events, either stylish cocktail parties or meal family style.</p>
</div>
</section>

<section class="section-menu" id="menu">

    <div class="menu-navigation">
        <ul>
            <li (click)="setPizza()">Pizza</li>
            <li (click)="setSandwich()">Sandwich</li>
            <li (click)="setDesert()">Dessert</li>
            <li (click)="setDrinks()">Drinks</li>
        </ul>
    </div>

    <div class="menu-category" *ngIf="pizza_flag" id="pizza">
      <app-pizza></app-pizza>
    </div>
  
    <div class="menu-category" *ngIf="sandwich_flag" id="sandwich">
      <app-sandwich></app-sandwich>
    </div>
  
    <div class="menu-category" *ngIf="dessert_flag" id="dessert">
      <app-desert></app-desert>
    </div>
  
    <div class="menu-category" *ngIf="drinks_flag" id="drink">
      <app-drinks></app-drinks>
    </div>

</section>

<section class="footer">
  <video class="footer-video" autoplay="" loop="" style="background-image:url(&quot;https://assets.website-files.com/5db971d22067fa28198aa469/5dd3a47458fd7f45facd97fa_ezgifcom-resize-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" data-video="0">
  <source src="https://assets.website-files.com/5dde4dfbaf313a43b98e1e2c/5dde4dfbaf313a374b8e1ed4_ezgifcom-resize-transcode.webm" data-wf-ignore="true"></video>
    <app-footer></app-footer>
  </section>